In [4]:
import csv
import pandas as pd
#
#

In [5]:
newdata = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/Scraping/tutorial/datafull.csv', sep=',')

In [7]:
realdata = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/project/goodbooks-10k/books.csv',sep=',')

In [9]:
realdata.head()

,book_id,goodreads_title,goodreads_book_id,goodreads_work_id
0,1,"The Hunger Games (The Hunger Games, #1)",2767052,2792775
1,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,4640799
2,3,"Twilight (Twilight, #1)",41865,3212258
3,4,To Kill a Mockingbird (To Kill a Mockingbird #1),2657,3275794
4,5,The Great Gatsby,4671,245494

In [10]:
newdata.head()

,Language,id,title,GoodReadAverageRating,description,author,NumberofRatings
0,English,1885,Pride and Prejudice,4.24,"“It is a truth universally acknowledged, that ...",Jane Austen,2212893
1,English,13335037,Divergent,4.24,"playlist, faction manifestos, and more!",Veronica Roth,2241943
2,English,77203,The Kite Runner,4.26,"Amir is the son of a wealthy Kabul merchant, a...",Khaled Hosseini,1892163
3,English,960,Angels & Demons,3.86,A devastating new weapon of destruction.,Dan Brown,2094460
4,English,5907,The Hobbit : or There and Back Again,4.25,met with instant critical acclaim when it was...,J.R.R. Tolkien,2210347

In [14]:
mergerdata =newdata.merge(realdata,left_on='id', right_on='goodreads_book_id')

In [16]:
mergerdata.head()

,Language,id,title,GoodReadAverageRating,description,author,NumberofRatings,book_id,goodreads_title,goodreads_book_id,goodreads_work_id
0,English,1885,Pride and Prejudice,4.24,"“It is a truth universally acknowledged, that ...",Jane Austen,2212893,10,Pride and Prejudice,1885,3060926
1,English,13335037,Divergent,4.24,"playlist, faction manifestos, and more!",Veronica Roth,2241943,12,"Divergent (Divergent, #1)",13335037,13155899
2,English,77203,The Kite Runner,4.26,"Amir is the son of a wealthy Kabul merchant, a...",Khaled Hosseini,1892163,11,The Kite Runner,77203,3295919
3,English,960,Angels & Demons,3.86,A devastating new weapon of destruction.,Dan Brown,2094460,9,"Angels & Demons (Robert Langdon, #1)",960,3338963
4,English,5907,The Hobbit : or There and Back Again,4.25,met with instant critical acclaim when it was...,J.R.R. Tolkien,2210347,7,The Hobbit,5907,1540236

In [17]:
len(mergerdata)

9594

In [18]:
mergerdata.to_csv('mergedata.csv',sep=',')