In [2]:
import pandas as pd
import redis
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [3]:
totaldata = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/project/DATA/mergefullnewdata.csv', sep=',')

In [4]:
totaldata.head()

,Unnamed: 0,author,description0,Language,NumberofRatings,GoodReadAverageRating,id,description1,title,book_id,goodreads_title,goodreads_book_id,goodreads_work_id
0,0,J.K. Rowling,Harry Potter's life is miserable. His parents ...,English,4879247,4.44,3,Harry Potter's life is miserable. His parents ...,Harry Potter and the Philosopher's Stone,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,4640799
1,1,Harper Lee,The unforgettable novel of a childhood in a sl...,English,3368077,4.26,2657,"Compassionate, dramatic, and deepl",To Kill a Mockingbird,4,To Kill a Mockingbird (To Kill a Mockingbird #1),2657,3275794
2,2,F. Scott Fitzgerald,", F. Scott Fitzgerald’s third book, stands as ...",English,2807803,3.89,4671,", F. Scott Fitzgerald’s third book, stands as ...",The Great Gatsby,5,The Great Gatsby,4671,245494
3,3,Stephenie Meyer,"In the first book of the Twilight Saga, intern...",English,3951638,3.57,41865,"In the first book of the Twilight Saga, intern...",Twilight,3,"Twilight (Twilight, #1)",41865,3212258
4,4,John Green,"""I fell in love the way you fall asleep: slowl...",English,2518520,4.26,11870085,Despite the tumor-shrinking medical miracle th...,The Fault in Our Stars,6,The Fault in Our Stars,11870085,16827462

In [6]:
tf = TfidfVectorizer(analyzer='word',
                             ngram_range=(1, 3),
                             min_df=0,
                             stop_words='english')
tfidf_matrix = tf.fit_transform(totaldata['description0'])

In [31]:
tfidf_matrix.shape

(9593, 378078)

tfidf_matrix is the matrix where each row is the feature vector of the book in ezch row of totaldata.

In [7]:
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [40]:
SIMKEY = 'p:smlr:%s'
dics={}

In [43]:
for idx, row in totaldata.iterrows():
            similar_indices = cosine_similarities[idx].argsort()[:-100:-1]
            similar_items = [(cosine_similarities[idx][i], totaldata['id'][i])
                             for i in similar_indices]
            flattened = sum(similar_items[1:], ())
            x=SIMKEY%row['id']
            dics[x]=flattened

In [44]:
dics

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [46]:
dics.Spawner.args = ['--NotebookApp.iopub_data_rate_limit=1000000000']

AttributeError: 'dict' object has no attribute 'Spawner'

In [33]:
SIMKEY = 'p:smlr:%s'