In [12]:
import csv
import pandas as pd

In [2]:
totaldata = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/project/DATA/mergefullnewdata.csv', sep=',')

Table containing data about the books

In [4]:
totaldata.head()

,Unnamed: 0,author,description0,Language,NumberofRatings,GoodReadAverageRating,id,description1,title,book_id,goodreads_title,goodreads_book_id,goodreads_work_id
0,0,J.K. Rowling,Harry Potter's life is miserable. His parents ...,English,4879247,4.44,3,Harry Potter's life is miserable. His parents ...,Harry Potter and the Philosopher's Stone,2,Harry Potter and the Sorcerer's Stone (Harry P...,3,4640799
1,1,Harper Lee,The unforgettable novel of a childhood in a sl...,English,3368077,4.26,2657,"Compassionate, dramatic, and deepl",To Kill a Mockingbird,4,To Kill a Mockingbird (To Kill a Mockingbird #1),2657,3275794
2,2,F. Scott Fitzgerald,", F. Scott Fitzgerald’s third book, stands as ...",English,2807803,3.89,4671,", F. Scott Fitzgerald’s third book, stands as ...",The Great Gatsby,5,The Great Gatsby,4671,245494
3,3,Stephenie Meyer,"In the first book of the Twilight Saga, intern...",English,3951638,3.57,41865,"In the first book of the Twilight Saga, intern...",Twilight,3,"Twilight (Twilight, #1)",41865,3212258
4,4,John Green,"""I fell in love the way you fall asleep: slowl...",English,2518520,4.26,11870085,Despite the tumor-shrinking medical miracle th...,The Fault in Our Stars,6,The Fault in Our Stars,11870085,16827462

In [6]:
rating = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/project/DATA/ratings.csv', sep=',')

table containing ratings of the books.

In [7]:
rating.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [17]:
books_tags=totaldata = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/project/DATA/book_tags.csv', sep=',')

Table tells that books belonging to which gener and number of votes given by users

In [16]:
books_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [18]:
tags=totaldata = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/project/DATA/tags.csv', sep=',')

relation between tag name and tag id

In [20]:
tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [21]:
to_read=totaldata = pd.read_csv('/home/kanika/Documents/3rdsem/Machine Learning/project/DATA/to_read.csv', sep=',')

Books marked by user to read

In [22]:
to_read.head()

   user_id  book_id
0        1      112
1        1      235
2        1      533
3        1     1198
4        1     1874